@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

@font-face {
    font-family: "Beatrice-Medium";
    src: local("Beatrice-Medium"),
        url(../assets/fonts/Beatrice-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Beatrice-Extrabold";
    src: local("Beatrice-Extrabold"),
        url(../assets/fonts/Beatrice-Extrabold.ttf) format("truetype");
}
@font-face {
    font-family: "Beatrice-MediumItalic";
    src: local("Beatrice-MediumItalic"),
        url(../assets/fonts/Beatrice-MediumItalic.ttf) format("truetype");
}
